{% load static %}
{% block body %}
{% include 'recruiter_navigation.html' %}
<link rel="stylesheet" type="text/css" href="{% static "datatable/datatables.min.css" %}"/>
<script type="text/javascript" src="{% static "datatable/datatables.min.js" %}"></script>
<style>
	marquee{
		margin-top: 0.5%;
		background: black;
		color: #fff;
	}
</style>
<script>
	function checkpass() {
		if(document.signup.newpwd.value != document.signup.cnewpwd.value)
		{
			alert("Passwords doesn't match!!!");
			document.signup.cnewpwd.focus();
			return false;
		}
		return true;
	}
</script>
<marquee direction="right">
	<h4>Change Password</h4>
</marquee>
<div class="container">
			<form action="" method="POST" class="mt-5" onsubmit="return checkpass();" name="signup">
		    {% csrf_token %}
				<div class="form-group">
					<label for="crntpwd"><strong>Current Password</strong></label>
					<input type="password" class="form-control" name="crntpwd" placeholder="Enter current password..." required>
				</div>
				<div class="row">
					<div class="form-group col-md-6 mt-3">
						<label for="newpwd"><strong>New Password</strong></label>
						<input type="password" class="form-control" name="newpwd" placeholder="Enter new password..." required>
					</div>
					<div class="form-group col-md-6 mt-3">
						<label for="cnewpwd"><strong>Confirm New Password</strong></label>
						<input type="password" class="form-control" name="cnewpwd" placeholder="Enter confirm password..." required>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Change" class="btn btn-dark my-3">
				</div>
	        </form>
</div>
{% include 'footer.html' %}

	{% ifequal error "no" %}
		<script>
    		alert("Password Changed Successfully!!!");
			window.location = ('{% url 'person_logout' %}');
		</script>
	{% endifequal %}

	{% ifequal error "yes" %}
		<script>
  			alert("Something went wrong. Try again!!!");
		</script>
	{% endifequal %}

	{% ifequal error "not" %}
		<script>
  			alert("Your current password is wrong. Try again!!!");
		</script>
	{% endifequal %}
{% endblock %}