{% load static %}
{% block body %}
{% include 'admin_navigation.html' %}
<link rel="stylesheet" type="text/css" href="{% static "datatable/datatables.min.css" %}"/>
<script type="text/javascript" src="{% static "datatable/datatables.min.js" %}"></script>
<style>
	marquee{
		margin-top: 0.5%;
		background: black;
		color: #fff;
	}
	.table_head{
		background: maroon;
		color: yellow;
	}
	.user_img{
		width:50px;
		height: 50px;
		border-radius: 50%;
	}
	.del_icon{
		color: maroon;
		font-size: 25px;
		margin-left: 18px;
	}
	.del_icon:hover{
		color: red;
	}
	.btn-group{
		position: relative;
		top: 32px;
	}
	.buttons-html5,.buttons-print{
		background: maroon;
		color: #fff;
		border:none;
	}
	.buttons-html5:hover,.buttons-print:hover{
		background: red;
		color: yellow;
	}
	.dataTables_length{
		position: relative;
		top: 20px;
	}

</style>
<marquee direction="right">
	<h4>List of All Pending Recruiters</h4>
</marquee>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover" id="example">
	<thead>
		<tr class="table_head">
			<th>Sr.#</th>
			<th>Full Name</th>
			<th>Email ID</th>
			<th>Contact#</th>
			<th>Gender</th>
			<th>Company Name</th>
			<th>Picture</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for u in recruiters_data %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{u.user.first_name}} {{u.user.last_name}}</td>
			<td>{{u.user.username}}</td>
			<td>{{u.mobile}}</td>
			<td>{{u.gender}}</td>
			<td>{{u.company}}</td>
			<td>
				<img src="{{u.image.url}}" alt="user image" class="user_img">
			</td>
			<td class="text-warning"><strong>{{u.status}}</strong></td>
			<td>
				<a href="{% url 'change_status' u.id %}" class="del_icon"><i class="fas fa-door-open"></i></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
		</div>
	</div>

</div>
{% include 'footer.html' %}
<script>
	$(document).ready(function(){
	$('#example').DataTable({
		dom: 'lBfrtip',
		buttons: [
			'copy','csv','excel','pdf','print'
		]
	});
	});
</script>
{% endblock %}